* {
    box-sizing:;
}

body{
    background-image: url("../images/cheap_diagonal_fabric.png");
    background-repeat:repeat;
    background-position:center;
}


header {
    height: 90px;
    background-color: #ffffff;
    border-color: #cccccc;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

h1, h2, h3{
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 20pt;
}



nav {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 90px;
}

.navContainer {
    width: 960px;
    float: left;
    margin-left: 150px;
}

.brand h1{
    float:left;
    width: 250px;
    height: 37px;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    padding: 20pt;

}

.links {
    float:right;
    padding-top: 30px;
    font-size: 14pt;
}

.links a{
    margin-left: 20px;
}





.container {
    width: 960px;
    height: 550px;
    float: left;
    margin-left: 150px;
    
}

.aboutMe{
    width: 650px;
    height: 475px;
    float: left;
    
    border: #dddddd;
    background-color: #ffffff;
    margin-top: 55px;
}

.aboutMe h2 {
    border-bottom: #dddddd
    border-width: 5px;
    background-color: #ffffff;
    padding: 30px;
    border-style: solid;
    text-align: left;
}

.aboutMeImage {
    float: left;
    padding: 0px 30px;
    width: 238px;
    height: 300px;
}

.aboutMeDes {
    padding-left: 30px;
}


.connectWithMe {
    float: left;
    height: 200px;
    width: 270px;
    background-color: #ffffff;
    margin-top: 40px;
    margin-left: 40px;
}

.githubIcon {
    height: 50px;
    width: 50px;
    float: left;
}

.linkedinIcon {
    height: 50px;
    width: 50px;
    float: left;

}

.stackIcon {
    height: 50px;
    width: 50px;
    float: left;
}

p {    
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12pt;
    padding-right: 5px;
    padding-left: 5px;
    line-height: 1.5;
    margin-top: -5px;
}

aside {
    margin-left: 15px;
}

.contactForm {
    text-align: left;
    font-size: 16px;
    padding: 30px;
    border-top: #dddddd;
    border-top-style: solid;
    border-top-width: 4px;
}

.submitButton {
    background-color: #4aaaa5;
}

.portfolioContainer {
    width: 650px;
    
    float: left; 
    border: #dddddd;
    background-color: #ffffff;
    margin-top: 55px; 
}

h2 {
    border-bottom: #dddddd
    border-width: 5px;
    background-color: #ffffff;
    padding: 30px;
    border-style: solid;
    text-align: left;
}

.portfolioImage {
    width: 250px;
    height: 150px;
    padding: 20px 30px;
}

h3 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 20pt;
    background-color: #fff;
    width: 100%;
    text-align: center;
    padding-top: 19px;
    padding-bottom: 19px;
    border-bottom: black;
    border-style: solid;color: #4aaaa5;
    
}

.footercontainer {
    font-size: 12pt;
    background-color: #666666;
    height: 90px;
    border-width: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width:100%;
    clear: both;
    border-top: #4aaaa5;
    border-top-width: 10px;
    border-top-style: solid;
}

.footerheader {
    padding: 37px 0px;
    color: #ffffff;
}



