body {
	background-color: white;
}

#absoluteBox {
	background-image: blue;
	width: 80%;
    height: 500px;
    position: absolute;
    float: left;
}

#header {
	height: 100%;
    width: 35%;
    background-color: #40e0d0;
    position: relative;
    left: 100px;
    
}


#meBox {
	background-color: red;
}

.contactInfo {
	width: 300px;
    height: 100px;
    border: 1px solid blue;
    box-sizing: border-box;
}
.header {
	font-size: 40px;
	color: black;
}

